.dodo{
    background-color: aqua;
}
.didier{
    width: 150px;
    height: 150px;
}
.comp{
    margin-top: 10px;
    text-align: center;
}
.photo{
    display: flex;
    padding-left: 20px;
    padding-top: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: rgb(205, 209, 209);
    height: 180px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
h1{
    margin-left: 30px;
    margin-top: 30px;
    font-weight: bold;
}
.outils{
    list-style: none;
}
.koni{
    margin-left: 150px;
    margin-top: 50px;
    color: #fff;
}
.koniss{
    background-color: #303840;
    color: #fff;
    
}
/* .koniss h3{
    text-align: center;
} */
.langue{
    list-style: none;
    /* position: relative; */
    
}
progress{
    top: 10px;
}

.contact{
    list-style: none;
    color: #fff;
}
.reseau li{
    list-style: none;
}
.reseau li p a{
    color: #fff;
    text-decoration: none;  
}
.reseau li p .twi{
    padding-left: 8px;
}
.contact li p a{
    color: #fff;
    text-decoration: none;
}
.contact li p a:hover{
    color: blue;
}
ul li progress{
    margin-left: 10px;
    margin-top: 15px;
}

.langue h2{
    padding: 2px;
    
}
